<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177143619642-cbv09b2cjplea69lbllmu724tffqpmj5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177143619642-cbv09b2cjplea69lbllmu724tffqpmj5</string>
	<key>API_KEY</key>
	<string>AIzaSyBAaRa4kaDnFrJAOJQ-AdihQqAjagR3OuM</string>
	<key>GCM_SENDER_ID</key>
	<string>177143619642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gogleen.foodDonatingApp</string>
	<key>PROJECT_ID</key>
	<string>fooddonationapp-5cc0f</string>
	<key>STORAGE_BUCKET</key>
	<string>fooddonationapp-5cc0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177143619642:ios:3ab1b86b32a6cffcbb9503</string>
</dict>
</plist>